.section {
  background-color: #fff;

  position: relative;
}
@media screen and (min-width: 1440px) {
  .section {
    position: sticky;
    /* top: calc(var(--window-height) - 1567px); */
    top: calc(var(--window-height) - 1567px - var(--window-height) / 3);
  }
}

.block {
  padding-top: 45px;
  padding-bottom: 45px;

  padding-left: 10px;
  padding-right: 10px;

  border-radius: 10px;
  background-color: #eee;

  position: relative;
}
@media screen and (min-width: 1440px) {
  .block {
    padding-top: 90px;
    padding-bottom: 90px;

    padding-left: 20px;
    padding-right: 20px;
  }
}

.title {
  color: #000;

  font-size: 25px;
  font-weight: 400;
  line-height: 1;

  text-transform: uppercase;

  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 50px;

    margin-bottom: 40px;

    padding-left: 550px;
  }
}

.title > span {
  color: #005df3;
}

.text {
  color: #0c0b1c;

  font-size: 16px;
  font-weight: 300;
  line-height: normal;

  padding-right: 72px;

  margin-bottom: 24px;
}
@media screen and (min-width: 1440px) {
  .text {
    font-size: 30px;

    padding-right: 146px;

    margin-bottom: 48px;
  }
}

.image {
  border-radius: 10px;

  overflow: hidden;

  height: 238px;

  margin-bottom: 24px;
}
@media screen and (min-width: 1440px) {
  .image {
    height: 502px;

    margin-bottom: 48px;
  }
}

.slogan {
  color: #0c0b1c;
  text-transform: uppercase;

  font-size: 25px;
  font-weight: 400;
  line-height: 1;

  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .slogan {
    font-size: 50px;

    margin-bottom: unset;

    position: sticky;
    top: 308px;
  }
}

.slogan > span {
  color: #005df3;
}

.title_picture {
  display: inline-block;

  width: 53px;
  height: 17px;

  border-radius: 30px;
  overflow: hidden;

  margin-right: 8px;
}
@media screen and (min-width: 1440px) {
  .title_picture {
    width: 104px;
    height: 36px;

    margin-right: 20px;
  }
}

.title_picture > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.slogan p {
  display: flex;
  flex-wrap: wrap;
}

.subtext {
  color: #0c0b1c;

  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
@media screen and (min-width: 1440px) {
  .subtext {
    font-size: 30px;

    padding-right: 120px;
  }
}

.subtext > span {
  font-weight: 400;
}
@media screen and (min-width: 1440px) {
  .subtext > span {
    display: block;
  }
}

.flex_wrapper {
  margin-bottom: 24px;
}
@media screen and (min-width: 1440px) {
  .flex_wrapper {
    display: flex;
    margin-bottom: 48px;
  }
}

.slogan_wrapper {
  display: none;
}
@media screen and (min-width: 1440px) {
  .slogan_wrapper {
    display: block;

    flex-basis: 445px;
    flex-shrink: 0;

    margin-right: 105px;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1440px) {
  .content > .slogan {
    display: none;
  }
}

/* LIST */
@media screen and (min-width: 1440px) {
  .list_mob {
    display: none;
  }
}

.list_mob > li:not(:last-child) {
  margin-bottom: 24px;
}

.list_mob > li {
  display: flex;
}

.id {
  flex-basis: 48px;
  flex-shrink: 0;

  color: #005df3;

  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
@media screen and (min-width: 1440px) {
  .id {
    flex-basis: 85px;

    font-size: 30px;
  }
}

.desc {
  color: #0c0b1c;

  font-size: 16px;
  font-weight: 400;
  line-height: 1;

  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .desc {
    font-size: 20px;
  }
}

.list_dsk {
  display: none;
}
@media screen and (min-width: 1440px) {
  .list_dsk {
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
    margin-right: -50px;
  }
}

.list_dsk > li {
  margin-top: 50px;
  margin-right: 50px;

  display: flex;
}

.list_dsk > li:nth-child(1),
.list_dsk > li:nth-child(3),
.list_dsk > li:nth-child(5) {
  flex-basis: 500px;
}

.list_dsk > li:nth-child(2),
.list_dsk > li:nth-child(4),
.list_dsk > li:nth-child(6) {
  flex-basis: 570px;
}

/* ANIMATED */
.list_animated {
  composes: list_dsk;
}

.list_dsk > li {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: var(--trans-func);
  transition-duration: 1s;
}

.list_animated > li {
  opacity: 1;
}

.list_animated > li:nth-child(1) {
  transition-delay: 2s;
}
.list_animated > li:nth-child(2) {
  transition-delay: 3.5s;
}
.list_animated > li:nth-child(3) {
  transition-delay: 2.5s;
}
.list_animated > li:nth-child(4) {
  transition-delay: 4s;
}
.list_animated > li:nth-child(5) {
  transition-delay: 3s;
}
.list_animated > li:nth-child(6) {
  transition-delay: 4.5s;
}

.list_dsk > li > .id,
.list_dsk > li > .desc {
  transition-property: transform;
  transition-timing-function: var(--trans-func);
  transition-duration: 1s;
}

.list_dsk > li > .id {
  transform: translateY(16px);
}
.list_animated > li > .id {
  transform: translateY(0);
}

.list_dsk > li > .desc {
  transform: translateX(-24px);
}
.list_animated > li > .desc {
  transform: translateX(0);
}

.list_animated > li:nth-child(1) > .id,
.list_animated > li:nth-child(1) > .desc {
  transition-delay: 2s;
}
.list_animated > li:nth-child(2) > .id,
.list_animated > li:nth-child(2) > .desc {
  transition-delay: 3.5s;
}
.list_animated > li:nth-child(3) > .id,
.list_animated > li:nth-child(3) > .desc {
  transition-delay: 2.5s;
}
.list_animated > li:nth-child(4) > .id,
.list_animated > li:nth-child(4) > .desc {
  transition-delay: 4s;
}
.list_animated > li:nth-child(5) > .id,
.list_animated > li:nth-child(5) > .desc {
  transition-delay: 3s;
}
.list_animated > li:nth-child(6) > .id,
.list_animated > li:nth-child(6) > .desc {
  transition-delay: 4.5s;
}
