@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  font-stretch: 100%;
  src: url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src:
    url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
    url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('opentype');
}
@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  font-stretch: 100%;
  src: url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
  src:
    url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format('opentype');
}
@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  font-stretch: 100%;
  src: url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
  src:
    url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('opentype');
}
